.demo-pages {
  font-size: 14px;
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
  width: 800px;
  padding-bottom: 100px;
}

@media all and (max-width: 768px) {
  .demo-pages {
    padding-left: 20px;
    padding-right: 20px;
  }
}
