.react-gallery-docs-configuration {
  margin-top: 20px;
}

.react-gallery-docs-configuration td {
  max-width: 600px;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

.react-gallery-docs-configuration thead td {
  font-weight: 700;
}

.react-gallery-docs-configuration table {
  border-spacing: 0;
  margin: 40px auto;
  font-size: 14px;
}
