.react-library-browse {
  padding: 30px;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
  background: #f3f3f3;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  .react-library-browse {
    margin-top: 60px;
  }
}

.react-library-browse .browse-header {
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.react-library-browse .browse-header .option-group label {
  padding-right: 10px;
  font-size: 13px;
}

.react-library-browse .component-section {
  padding-bottom: 40px;
}
