
.react-gallery-list-layout {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  align-items: flex-start;
}

.react-gallery-list-layout > .react-gallery-list-layout-item {
  margin-right: 10px;
  margin-bottom: 10px;
}
