
.react-gallery-well {
  padding: 20px;
  border: 1px dashed;
}

.react-gallery-well > * {
  vertical-align: top;
}

.react-gallery-well-title {
  margin-bottom: 20px;
  display: block
}

.react-gallery-well-dark {
  background: black;
}
.react-gallery-well-dark > .react-gallery-well-title {
  color: white;
}

.react-gallery-well-light {
  background: white;
}

.react-gallery-well-dark {
  border-color: rgba(255, 255, 255, 0.8);
}

.react-gallery-well-light {
  border-color: rgba(0, 0, 0, 0.8);
}
