.react-gallery-left-bar {
  width: 260px;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  box-sizing: border-box;
}

.react-gallery-left-bar .show-button {
  visibility: hidden;
  position: absolute;
  font-size: 36px;
  font-weight: 100;
  cursor: pointer;
  right: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  color: #ccc;
  padding: 10px;
}

.react-gallery-left-bar .app-title {
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #bbb;
}

.react-gallery-left-bar .bar-header {
  padding-left: 10px;
  margin-bottom: 5px;
}

.react-gallery-left-bar .page-link {
  padding-left: 20px;
  flex-shrink: 0;
}

.react-gallery-left-bar .category-link {
  padding-left: 20px;
  font-weight: 700;
}

.react-gallery-left-bar .component-link {
  padding-left: 30px;
  word-break: break-all;
}

.react-gallery-left-bar .story-link {
  padding-left: 40px;
  word-break: break-all;
  font-style: italic;
  font-size: 12px;
}

.react-gallery-left-bar .bar-search {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
}

.react-gallery-left-bar .bar-search input {
  background: #f3f3f3;
  color: orange;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 30px;
  font-size: 16px;
  border: none;
  flex-grow: 1;
  outline: none;
  margin-top: 5px;
}

.react-gallery-left-bar .bar-search input::placeholder {
  color: orange;
}

.react-gallery-left-bar .bar-search input::selection {
  background: #ffe5b4;
  color: #ff7518;
}

.react-gallery-left-bar .bar-search .clear-button {
  position: absolute;
  font-size: 36px;
  font-weight: 100;
  cursor: pointer;
  right: 0;
  top: 0;
  display: inline-block;
  width: 30px;
  text-align: center;
  color: orange;
}

.react-gallery-left-bar .bar-search .clear-button:hover {
  opacity: 1;
}

.react-gallery-left-bar-categories {
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 50px;
}

@media all and (max-width: 768px) {
  .react-gallery-left-bar {
    position: absolute;
    top: 0;
    background: white;
    width: 100vw;
    z-index: 1;
    height: 60px;
    transition: height 0.2s ease-out;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
    overflow: hidden;
  }

  .react-gallery-left-bar.show {
    height: 100vh;
  }

  .react-gallery-left-bar .show-button {
    visibility: visible;
  }
}
