.react-gallery-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.react-gallery-main-header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
  font-size: 13px;
}

.react-gallery-main-header .component-title {
  font-weight: 400;
  font-size: 28px;
  margin: 0;
  margin-bottom: 10px;
  color: #999;
  letter-spacing: 0.03em;
}

.react-gallery-main-header .story-title {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  margin: 10px 0;
  margin-top: 30px;
  letter-spacing: 0.03em;
  font-style: italic;
}

.react-gallery-main-header .header-description {
  font-size: 13px;
  margin: 5px 0;
}

.react-gallery-main-header .header-categories {
  display: flex;
  padding-left: 10px;
}

.react-gallery-main-header .header-categories .category-link {
  padding-right: 10px;
}

.react-gallery-main-header .header-tags {
  color: #aaa;
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.react-gallery-main .previewer {
  flex-grow: 1;
  margin: 30px;
}

.react-gallery-main .default-error {
  padding: 20px;
  color: #999;
}
