.react-gallery-nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #999;
  cursor: pointer;
  padding: 5px 0;
  letter-spacing: 0.03em;
  user-select: none;
  text-transform: capitalize;
}

.react-gallery-nav-link.active {
  color: #008cff;
}

.react-gallery-nav-link.active.selected {
  background: #f3f3f3;
}

.react-gallery-nav-link.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.react-gallery-nav-link .link-text {
  flex-grow: 1
}

.react-gallery-nav-link .link-text:hover {
  text-decoration: underline;
}

.react-gallery-nav-link .expand {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  width: 20px;
}

.react-gallery-nav-link .expand:hover {
  color: black;
}
