.react-library-page {
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.react-library-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

@media all and (max-width: 768px) {
  .react-library-page-wrapper {
    margin-top: 60px;
  }
}
