.react-gallery-sequence-controls {
  font-size: 14px;
}

.react-gallery-sequence-controls .sequence-list {
  padding-left: 20px;
  padding-top: 10px;
}

.react-gallery-sequence-controls .steppers {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 12px;
}

.react-gallery-sequence-controls .sequence-link {
  display: inline-block;
  padding: 5px;
}

.react-gallery-sequence-controls .sequence-arrow {
  color: #aaa;
}
