.react-catalog-right-bar {
  width: 400px;
  border-left: 1px solid #ccc;
  flex-shrink: 0;
  box-sizing: border-box;
}

.react-catalog-right-bar .bar-header {
  margin: 10px;
}

.react-catalog-dependency {
  font-size: 13px;
  width: 100%;
}

.react-catalog-dependency tbody tr td {
  color: #999;
  vertical-align: top;
}

.react-catalog-dependency tbody tr td .dependency {
  display: inline;
  padding: 5px;
  padding-left: 0px;
}

.react-catalog-dependency .table-type {
  padding: 5px 10px;
  padding-right: 0px;
  width: 90px;
  color: #666;
}

.react-catalog-dependency .table-names {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
